
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Creacion de tipo de cancha</h2>
            <button class="close" type="button" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_creacion" action="{% url 'Base:crear_tipo' %}" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
            <div id="errores">

            </div>
            {% csrf_token %}  
            {{ form.as_p }}
    
        </div>
               
        <div class="modal-footer" >
            <button class="btn btn-danger" type="button" onclick="cerrar_modal_creacion();">Cancelar</button>
            <button id="boton_creacion" onclick="registrar();" class="btn btn-primary">Confirmar</button>
        
        </div>
    </form>
    </div>
</div>




