{% load staticfiles %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Edicion de centro {{ object }}</h2>
            <button class="close" type="button" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'usuarios:actualizar_centro' object.id%}" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
            <div id="erroresEdicion">

            </div>
            
            {% csrf_token %}
           
              
                    <label>Nombre</label>
                    {{ form.nombre }}

                    <label>Descripcion</label>
                    {{ form.descripcion }} 
               
               
                    <label>Direccion</label>
                    {{ form.direccion }}              
                
                   

                    <label>{{ form.region.label }}</label>
                  
                    <select class="form-control" name="region" id="id_region">
                        <option value="0">----------</option>
                        {% for item in region %}
                        <option value="{{item.region_id}}">{{item.region_nombre}}</option>
                        {% endfor %}
                    </select>  
                
                
               
                    <label>{{ form.provincia.label }} </label>                    
                        <select class="form-control" name="provincia" id="id_provincia">
                            <option value="0">----------</option>
                            {% for item in provincia %}
                            <option value="{{item.provincia_id}}" data-chained="{{item.region_id}}">{{item.provincia_nombre}}</option>
                            {% endfor %}
                        </select> 
    
                  
             
               
                    <label>{{ form.comuna.label }}</label>                    
                        <select class="form-control" name="comuna" id="id_comuna">
                            <option value="0">----------</option>
                            {% for item in comuna %}
                            <option value="{{item.comuna_id}}" data-chained="{{item.provincia_id}}" >{{item.comuna_nombre}}</option>
                            {% endfor %}
                        </select>   
    
                 
              
                
                    <label>Imagen portada</label>
                    {{ form.imagen_portada }}
                    
              
               
                    <label>Logo</label>
                   
                        {{ form.logo }}
    
                  
              

                
                
    
            
        </div>
        <div class="modal-footer" >
            <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicion();">Cancelar</button>
            <button class="btn btn-primary" type="button" onclick="editarCentro()" >Confirmar</button>
        
        </div>
    </form>
    </div>
</div>

<script src="{% static 'js/lib/jquery.js' %}"></script>
<script src="{% static 'js/lib/jquery.chained.js' %}"></script>

<script>
    $(function(){
        $("#id_region").val("{{obj.provincia.region.region_id}}").change();
        $("#id_provincia").val("{{obj.provincia.provincia_id}}").change();
        $("#id_comuna").val("{{obj.comuna.comuna_id}}").change();
       
        $("#id_provincia").chained("#id_region");
        $("#id_comuna").chained("#id_provincia");

    })
    

</script>