{% extends 'index.html' %}

{% block titulo %}
Listado Servicio
{% endblock titulo %}

{% block body %}

    {% if object_list %}

<div class="card">
  <div class="card-header">         
        <strong class="card-title">Listado de servicios</strong>
      </div>      
    
  <div class="table-stats order-table ov-h">
    <table id="tabla_libros" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>          
        </tr>
      </thead>
      <tbody>
          
            {% for servicio in object_list %}
            <tr>
            <td>{{ servicio.id}}</td>
            <td>{{ servicio.nombre }}</td>
            </tr>
            {% endfor %}
        
      </tbody>
    </table>    
  </div>
  
    {% else %}
    <h1>No existe servicios</h1>
    {% endif %}   
</div>
{% endblock body %}

