{% extends 'index.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
<style>
  .imagen_perfil{
    width: 250px;
    height: 250px;
  }
</style>
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            
            <div class="text-center">
           {% if request.user.imagen %}
              <img class="img-circle imagen_perfil"
                   src="{{ request.user.imagen.url }}"
                   alt="User profile picture">
                  </div>
            {% else %}
            <img class="img-circle imagen_perfil"
                   src=""
                   alt="No has cargado ninguna foto">
                  </div>
                  {% endif %}

            <h3 class="profile-username text-center">{{ request.user.nombres }} {{ request.user.apellidos }}</h3> <br>

            <button type="button" class="btn btn-primary" onclick="abrir_modal_edicion('{% url 'usuarios:actualizar_perfil' request.user.pk %}');">Editar perfil</button>
            


            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Datos</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="menu-icon fa fa-map-marker"></i> Direccion</strong>

            <p class="text-muted">
              {{ request.user.direccion }},{{ request.user.comuna }}
            </p>
           

            <hr>

            <strong><i class=""></i> Nombre</strong>

            <p class="text-muted">
                {{ request.user.nombres}}
            </p>

            <hr>

            <strong><i class="fas fa-pencil-alt"></i> Apellido</strong>

            <p class="text-muted">
              {{ request.user.apellidos }}
            </p>

            <hr>

            <strong><i class="far fa-file-alt"></i> Mi centro</strong>

            <p class="text-muted">{{ request.user.centro }}</p>

           
          </div>
          
        </div>
       
      </div>
     
     
     
    </div>
    


  <div class="modal fade" id="edicion" role="dialog"></div>
{% endblock body %}
{% block extrajs %}
<script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}