{% load staticfiles %}

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% for c in cancha %}
                    <h5 class="modal-title" id="exampleModalLabel">Reserva de cancha {{ c.nombre }}</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
    
                </div>
                <div class="modal-body">
                    <form id="form_creacion" action="{% url 'inicio_home' %}" method="POST" name="{% url 'mostrar-calendario' c.pk %}">
                        {% csrf_token %}  
                        {{ form.as_p }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="registrar();">Reservar</button>             
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
<div id='calendar'></div>
        
<style>

     

            .fc-timegrid-slot {
                height: 2.5em !important;
            }  
            
           
</style>
    
<script>



     $(document).ready(function() {
                
             var calendarEl = document.getElementById('calendar');
             var calendar = new FullCalendar.Calendar(calendarEl, {
                
                
                
               
                headerToolbar: {
            start: 'title',
            center: '',
            end: 'timeGridThreeDay today prev,next'},                         

                
                dateClick: function(info) {
                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            
                    alert('Current view: ' + info.dateStr);
                },
                 
                 
                 contentHeight: 600,
                 slotDuration: '01:00',    
                 slotLabelFormat:{
                 hour: 'numeric',
                 minute: '2-digit',
                 omitZeroMinute: false,
                 meridiem: 'false',
                                 },

                                        
                 initialView: 'timeGridThreeDay',
                 timeZone: 'UTC',
                 events:[
                {% for i in horario %}
                    {
                      id: '{{ i.pk }}',
                      title: '{{ i.title }}',
                      startTime: '{{ i.hora_inicio }}',
                      endTime: '{{ i.hora_termino }}',
                      daysOfWeek: [ {{ i.dia.day_number }} ],
                      color: '#6c757d',/*secondary*/
                    },
                {% endfor %}
                
                {% for e in reserva %}
                    {% ifequal request.user.pk e.usuario.pk %}                
                            {
                                id: 'e.pk',
                                title: 'Tu reserva',
                                start: '{{ e.date_start }}',
                                end: '{{ e.date_end }}',
                                color: '#28a745',/*succes*/
                            },
                        {% else %}
                            {
                                id: 'e.pk',
                                title: 'Ocupado',
                                start: '{{ e.date_start }}',
                                end: '{{ e.date_end }}',
                                color: '#6c757d',/*secondary*/
                            },

                    {% endifequal %}
                {% endfor %}                               
                         ],
                     
                 
               
               views: {
                 timeGridThreeDay: {
                 type: 'timeGrid',
                 duration: { days: 3 },
                 
                 }
               }
           
             });
             
             calendar.setOption('locale','Es')
             calendar.render();
             
           });  

    

    

        
               
                    
              
               
         
</script> 



                
                




