{% extends 'index.html' %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/main.css' %}">
<script src="{% static 'js/lib/es.js' %}"></script>
<script src="{% static 'js/lib/main.js' %}"></script>        
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock extra_css %}
   
    
{% block panel-izquierdo %}
{% endblock panel-izquierdo %}

{% block body %}
<a href="{% url 'home' %}"><---Volver a listado de busqueda</a>

    <article>
        
        <h2>{{ Cancha.nombre }}</h2>

    </article>
    
        
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">


<!--Slides-->
<div class="row">

{% if Imagenes %}
<div class="carousel-inner" role="listbox">



<div class="carousel-item active">
{% for img in Imagenes %}
<div class="col-md-3 mb-3">
<div class="card">
<img src="{{ img.imagen_cancha.url }}" alt="Card image cap" height="250">
</div>
</div>  
{% endfor %}    
</div> 


</div>
{% else %}
<div class="carousel-inner" role="listbox">



    <div class="carousel-item active">
   
    <div class="col-md-3 mb-3">
    <div class="card">
    <img src="" alt="Card image cap" height="250">
    </div>
    </div>  
       
    </div> 
    
    
    </div>

{% endif %}

</div> 

</div>


<div class="row">

<div class="col-md-5">
<h4>{{ Cancha.nombre }}</h4>
<p>{{ Cancha.descripcion}}</p>
<p>${{ Cancha.valor }} por hora</p>


</div>

<div class="col-md-12 col-lg-7">
    <div class="center">
    <h2>Reservar</h2>
    </div>
    <div id='calendar'></div>                         
  </div>
  <style>
     

      .fc-timegrid-slot {
          height: 3em !important;
      }   
</style>


<!--Modal de formulario para registrar una nueva reserva-->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Reserva de cancha {{ Cancha.nombre }}</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form method="POST">
{% csrf_token %}  
{{ form.as_p }}
<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
<button type="submit" class="btn btn-primary">Reservar</button>             
</form>
</div>
</div>
</div>
</div>

{% endblock body %} 

{% block javascript %}
{% endblock javascript %}
{% block extrajs %}
<script>

document.addEventListener('DOMContentLoaded', function() {
             
             var calendarEl = document.getElementById('calendar');
             var calendar = new FullCalendar.Calendar(calendarEl, {
                 selectable: true,                          

                 selectOverlap: function(event) {
                     return event.rendering === 'background';
                 },
                 
                 select: function(selectionInfo) {                                
                     $('#myModal').modal('show');
                     var start = selectionInfo.startStr; 
                     var end = selectionInfo.endStr;
                     var user = {{ request.user.id }};
                     var cancha = {{ Cancha.pk }};
                     var color = 2;
                     $('#id_date_start').val(start);
                     $('#id_date_end').val(end);
                     $('#id_usuario').val(user);
                     $('#id_cancha').val(cancha);
                     $('#id_color').val(color);

                     
                                               
                 },
                 
                 
                 slotDuration: '01:00',    
                 slotLabelFormat:{
                 hour: 'numeric',
                 minute: '2-digit',
                 omitZeroMinute: false,
                 meridiem: 'false',
                                 },

                                        
                 initialView: 'timeGridThreeDay',
                 themeSystem: 'bootstrap',
                 timeZone: 'UTC',
                 events:[
                     {% for i in Horario %}
                     
                         {
                             id: '{{ i.pk }}',
                             title: '{{ i.title }}',
                             startTime: '{{ i.hora_inicio }}',
                             endTime: '{{ i.hora_termino }}',
                             daysOfWeek: [ {{ i.dia.day_number }} ],
                             color: '{{ i.color.codigo }}',
                         },
                     {% endfor %}
                     {% for e in Reserva %}
                     
                         {
                             id: 'e.pk',
                             title: 'Reservado',
                             start: '{{ e.date_start }}',
                             end: '{{ e.date_end }}',
                             color: '{{ e.color.codigo }}',
                         },
                     {% endfor %}                               
                     ],
                     
                 
               
               views: {
                 timeGridThreeDay: {
                 type: 'timeGrid',
                 duration: { days: 3 },
                 
                 }
               }
           
             });
             
             calendar.setOption('locale','Es')
             calendar.render();
             
           });
           
                
          
           
     
         </script> 
{% endblock extrajs %}






 
     
        
      

