{% extends 'index.html' %}
{% load staticfiles %}



{% block panel-izquierdo %}
    <form method="GET">
        <div class="card">
            <div class="card-header"><strong>Busqueda</strong></div>
                <div class="card-body card-block">
                    <div class="form-group"><label for="company" class=" form-control-label">Palabra clave</label><input type="text" name="buscar_palabra"  placeholder="Palabra clave" class="form-control"></div>
                        <div class="col-12 col-md-9">
                            <label for="company" class=" form-control-label">Comuna</label>
                                <select name="comuna_search" id="select" class="form-control">
                                    <option value="">Seleccione</option>
                                    {% for c in comuna %}
                                    <option value="{{ c.pk }}">{{ c.comuna_nombre}}</option>
                                    {% endfor %}
                                </select>
                        </div> 
                </div>                   
        <button class="btn btn-primary">Buscar</button>
        </div>
    </form>
                          
{% endblock panel-izquierdo %}
{% block body %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/main.css' %}">
<script src="{% static 'js/lib/es.js' %}"></script>
<script src="{% static 'js/lib/main.js' %}"></script>        
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    #custom-nav-home-tab, #custom-nav-profile-tab, #custom-nav-contact-tab  {
        width: 33%;

    }

</style>
{% endblock extra_css %}

    
       
        
            <div class="custom-tab">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">Deporte</a>
                        <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="true">Canchas</a>
                        <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="true">Horario</a>
                    </div>
                </nav>
                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                        <div class="row">
                            {% for d in tipo_cancha %} 
                            <form method="GET">
                                <div class="col-md-4">
                                    <div class="card"> 
                                        <a href=""> 
                                                       
                                        <img class="card-img-top" src="{{ d.imagen.url }}" alt="" height="250">
                                        
                                        <img class="card-img-top" src="" alt="Imagen de cancha" height="250">
                                       
                                            <div class="card-body">
                                                <input type="hidden" value="{{ d.pk }}" name="tipo_cancha" id="tipo_cancha"><h4 class="card-title mb-3">{{ d.nombre }}</h4></input>
                                                    
                                            </div>
                                            <div class="footer">
                                                <button class="btn btn-primary">Seleccionar</button>
                                            </div>
                                        </a>                   
                                    </div>
                                </div>
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                        <div class="row">
                            
                            {% for cancha in Canchas %} 
                            <form method="GET">
                                <input type="hidden"  name="buscar_reserva" value="{{ cancha.pk }}">
                                <div class="col-md-4">
                                    <div class="card"> 
                                        <a href="{% url 'Descripcion_cancha' cancha.id %}"> 
                                            {% if cancha.imagen %}            
                                        <img class="card-img-top" src="{{ cancha.imagen.url }}" alt="Imagen de cancha" height="250">
                                        {% else %}
                                        <img class="card-img-top" src="" alt="Imagen de cancha" height="250">
                                        {% endif %}
                                            <div class="card-body">
                                                    <h4 class="card-title mb-3">{{ cancha.nombre }}</h4>
                                              <p class="card-text">{{ cancha.descripcion }}</p>                            
                                                    <p class="card-text">{{ cancha.superficie }}</p>
                                            </div>
                                        </a> 
                                        <button class="btn btn-primary" type="submit">Seleccionar</button>                  
                                    </div>
                                    
                                </div>
                                
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                       
                           
                      
                        <div class="col-md-12 col-lg-7">
                            <div class="center">
                            <h2>Reservar</h2>
                            </div>
                            <div id='calendar'></div>                         
                          </div>  
                        
                   </div>
                </div>
            </div>

          
                              
                 
          

    
{% endblock body %}

{% block extrajs %}

<style>
.fc-event:hover {
border-color: #1c7d87;
}
.fc-event:hover .fc-content {
color: #1c7d87;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
             
             var calendarEl = document.getElementById('calendar');
             var calendar = new FullCalendar.Calendar(calendarEl, {
                 
                 slotDuration: '01:00',    
                 slotLabelFormat:{
                 hour: 'numeric',
                 minute: '2-digit',
                 omitZeroMinute: false,
                 meridiem: 'false',
                                 },

                                        
                 initialView: 'timeGridThreeDay',
                 themeSystem: 'bootstrap',
                 timeZone: 'UTC',
                 events:[
                     {% for i in horario %}
                     
                         {
                             id: '{{ i.pk }}',
                             title: '{{ i.title }}',
                             startTime: '{{ i.hora_inicio }}',
                             endTime: '{{ i.hora_termino }}',
                             daysOfWeek: [ {{ i.dia.day_number }} ],
                             color: '{{ i.color.codigo }}',
                         },
                     {% endfor %}
                     {% for e in reserva %}
                     
                         {
                             id: 'e.pk',
                             title: 'Reservado',
                             start: '{{ e.date_start }}',
                             end: '{{ e.date_end }}',
                             color: '{{ e.color.codigo }}',
                         },
                     {% endfor %}                               
                     ],
                     eventBackgroundColor: 'black',
                     
                 
               
               views: {
                 timeGridThreeDay: {
                 type: 'timeGrid',
                 duration: { days: 3 },
                 
                 }
               }
           
             });
             
             calendar.setOption('locale','Es')
             calendar.render();
             
           });
</script>

{% endblock extrajs %}
