{% extends 'index.html' %}

{% block titulo %}
Listado de reservas
{% endblock titulo %}

{% block body %}

    {% if reserva %}

<div class="card">
  <div class="card-header">         
        <strong class="card-title">Listado de reservas</strong>
      </div>      
    
  <div class="table-stats order-table ov-h">
    <table id="tabla_libros" class="table">
      <thead>
        <tr>
         
          <th>Cancha</th>
          <th>Estado</th>   
          <th>Fecha reserva</th>
          
                         
        </tr>
      </thead>
      <tbody>
          
            {% for r in reserva %}
            <tr>
            
            <td>{{ r.cancha }}</td>
            {% ifequal r.estado False %}
            <td>Pendiente</td>
            {% else %}
            <td>Confirmado</td>
            {% endifequal %}
            <td>{{ r.date_start }} a {{ r.date_end }}</td>         

            
          </tr>
            {% endfor %}
        
      </tbody>
    </table>    
  </div>
  
    {% else %}
    <h1>No tienes reservas</h1>
    
    {% endif %}   
</div>
{% endblock body %}

