{% extends 'index.html' %}
{% block titulo %}
Crear servicio
{% endblock titulo %}
{% block body %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %} 
        <form method="POST">
        {% csrf_token %}  
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Crear</button>               
    </form>
    {% endif %} 
{% endblock body %}

{% block extrajs %}
<script>

$(function () {
    $('select[id="region"]').on('change', function () {
        alert('x');
    })


})



</script>
{% endblock extrajs %}


