{% extends 'index.html' %}

{% block titulo %}
Listado Cancha
{% endblock titulo %}

{% block body %}

    {% if object_list %}

<a href="{% url 'Base:crear_cancha' %}" class="btn btn-primary">Agregar Cancha</a>
<div class="card">
  <div class="card-header">         
        <strong class="card-title">Listado de cancha</strong>
      </div>      
    
  <div class="table-stats order-table ov-h">
    <table id="tabla_libros" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th> 
          <th>Descripcion</th> 
          <th>Direccion</th> 
          <th>Valor</th> 
          <th>Servicios</th> 
          <th>tipo_cancha</th> 
          <th>superfice</th> 
          <th>centro_dep</th> 
          <th>Opciones</th>        
        </tr>
      </thead>
      <tbody>
          
            {% for cancha in object_list %}
            <tr>
            <td>{{ cancha.id}}</td>
            <td>{{ cancha.nombre }}</td>
            <td>{{ cancha.descripcion }}</td>
            <td>{{ cancha.direccion}}</td>
            <td>{{ cancha.valor }}</td>
            <td>{{ cancha.servicio }}</td>
            <td>{{ cancha.tipo_cancha}}</td>
            <td>{{ cancha.superfice}}</td>
            <td>{{ cancha.centro_dep}}</td>          
            <td><a href="{%url 'Base:editar_cancha' cancha.id%}" class="btn btn-primary">Editar</a><a href="{%url 'Base:eliminar_cancha' cancha.id%}" class="btn btn-danger">Eliminar</a></td>
            </tr>
            {% endfor %}
        
      </tbody>
    </table>    
  </div>
  
    {% else %}
    <h1>No existen Canchas</h1>
    <a href="{% url 'Base:crear_cancha' %}" class="btn btn-primary">Agregar cancha</a>
    {% endif %}   
</div>
{% endblock body %}

