{% extends 'index.html' %}
{% load staticfiles %}
{% block extra_css %}
{% endblock extra_css %}

{% block titulo %}
Crear centro deportivo
{% endblock titulo %}
{% block body %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %} 
        <form method="POST"> 
        {% csrf_token %} 
        <div class="row">
           {#{form.as_p }#}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">{{ form.Nombre.label }}</div>
                <div class="col-md-6">{{ form.Nombre }}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">{{ form.direccion.label }}</div>
                <div class="col-md-6">{{ form.direccion }}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">{{ form.region.label }}</div>
                <div class="col-md-6">
                <select class="form-control" name="region" id="id_region">
                    <option value="0">----------</option>
                    {% for item in region %}
                    <option value="{{item.region_id}}">{{item.region_nombre}}</option>
                    {% endfor %}
                </select>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">{{ form.provincia.label }}</div>
                <div class="col-md-6">
                    <select class="form-control" name="provincia" id="id_provincia">
                        <option value="0">----------</option>
                        {% for item in provincia %}
                        <option value="{{item.provincia_id}}" data-chained="{{item.region_id}}">{{item.provincia_nombre}}</option>
                        {% endfor %}
                    </select> 

                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">{{ form.comuna.label }}</div>
                <div class="col-md-6">
                    <select class="form-control" name="comuna" id="id_comuna">
                        <option value="0">----------</option>
                        {% for item in comuna %}
                        <option value="{{item.comuna_id}}" data-chained="{{item.provincia_id}}" >{{item.comuna_nombre}}</option>
                        {% endfor %}
                    </select>   

                </div>
            </div>
            
            

        </div>
            
         
        <button type="submit" class="btn btn-primary">Crear</button>               
    </form>
    {% endif %}  
{% endblock body %}

{% block extrajs %}
<script src="{% static 'js/lib/jquery.js' %}"></script>
<script src="{% static 'js/lib/jquery.chained.js' %}"></script>

<script>
    $(function(){
        $("#id_region").val("{{obj.provincia.region.region_id}}").change();
        $("#id_provincia").val("{{obj.provincia.provincia_id}}").change();
        $("#id_comuna").val("{{obj.comuna.comuna_id}}").change();
       
        $("#id_provincia").chained("#id_region");
        $("#id_comuna").chained("#id_provincia");

    })
    

</script>

{% endblock extrajs %}
