{% extends 'index.html' %}
{% block titulo %}
Crear centro deportivo
{% endblock titulo %}
{% block body %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %} 
        <form method="POST" id="centroForm" data-provincias-url="{% url 'ajax_cargar_provincias' %}" novalidate data-comunas-url="{% url 'ajax_cargar_comunas' %}" novalidate> 
        {% csrf_token %} 
       
            {{ form.as_p }}
         
        <button type="submit" class="btn btn-primary">Crear</button>               
    </form>
    {% endif %}  
{% endblock body %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_region").change(function () {
      var url = $("#centroForm").attr("data-provincias-url");
      var regionId = $(this).val();     

      $.ajax({
        url: url,
        
        data: {
          'region': regionId,        

        },
        success: function (data) {
          $("#id_provincia").html(data);         

        }
      });
 
    });
    $("#id_provincia").change(function () {
      var url = $("#centroForm").attr("data-comunas-url");
      var provinciaId = $(this).val();     

      $.ajax({
        url: url,
        
        data: {
          'provincia': provinciaId,        

        },
        success: function (data) {
          $("#id_comuna").html(data);       

        }
      });
 
    });
  </script>
  {% endblock extrajs %}
